## Join wnut 16 and 17

In [8]:
with open("en_wnut17.train.txt") as file:
    toks = file.read().replace("\tO"," ").replace("\t"," ").split("\n\n")
wnut17_train = [t.replace("\n","") for t in toks]
wnut17_train[:5]

["@paulwalk It 's the view from where I 'm living for two weeks . Empire B-locationState I-locationBuilding I-location= ESB B-location. Pretty bad storm here last evening . ",
 'From Green Newsfeed : AHFA B-groupextends deadline for Sage Award to Nov . 5 http://tinyurl.com/24agj38 ',
 'Pxleyes B-corporationTop 50 Photography Contest Pictures of August 2010 ... http://bit.ly/bgCyZ0 #photography ',
 'today is my last day at the office . ',
 "4Dbling B-person's place til monday , party party party . &lt; 3 "]

In [3]:
with open("en_wnut16.train.txt") as file:
    toks = file.read().replace("\tO"," ").replace("\t"," ").split("\n\n")
wnut16_train = [t.replace("\n","") for t in toks]
wnut16_train[-5:]

['RT @MarioBB9 : Pope B-personsays atheists pick and choose their morals . Correct . Today I will be frowning on child abuse and not having a proble ... ',
 "Man I swear I bought 2 new outfits but it 's cold them dresses not gettin worn today .... ",
 'RT @ArtVanFurniture : Mr B-person. I-personVan I-personsure is busy today . Here , he takes time to talk with a crew from @wilxTV . http://twitpic.com/2pb3i4 ',
 '@PersonalSelena can you follow me pretty please . that would make my day . Peace ! ',
 'good friday whatchu got for me @kanyewest']

In [4]:
len(wnut16_train)

2394

In [5]:
with open("en_wnut16.dev.txt") as file:
    toks = file.read().replace("\tO"," ").replace("\t"," ").split("\n\n")
wnut16_train.extend([t.replace("\n","") for t in toks])
wnut16_train[-5:]

['@null http://t.co/3O3Z3xyNC0 December 25 , 2014 at 02:44 PM Ver . kvx7 ',
 'On January 22nd , from 11- 1.30 , TVPS B-otherwill be offering free 60 second HIV Testing . This is a really important habit ... http://t.co/GXg82y7Hw4 ',
 'Found this cool photo , not mine Love this guy more than words can describe !! ( : decorating the fire truck Friday ... http://t.co/Ov8l77dsFI ',
 'Conditioning plan all made up for tomorrow , final touches have been made !! #softballready ',
 'Sat Jan 10 2015 12:46 : 39 GMT+0000 ( UTC ) ']

In [6]:
len(wnut16_train)

3394

In [ ]:
wnut16_train

In [9]:
bool(set(wnut16_train)&set(wnut17_train))

True

In [11]:
ss =  []
for s in wnut16_train:
    if s in wnut17_train:
        ss.append(s)
len(ss)

2430

In [12]:
len(wnut16_train)

3394

In [40]:
with open("en_tweet.test.txt") as file:
    tweet = file.read().replace("\t"," ").split("\n\n")
tweet = [t.split("\n") for t in tweet]
tweet = tweet[1:]

In [41]:
tweets = []
for tw in tweet:
    for t in tw:
        tweets.append(t.split(" "))
tweets[:5]

[['@USER1812', '-', '-', 'O'],
 ['No', '-', '-', 'O'],
 [',', '-', '-', 'O'],
 ['I', '-', '-', 'O'],
 ["'m", '-', '-', 'O']]

In [42]:
import pandas as pd
df = pd.DataFrame(tweets)
df.columns = ["X","-","-","O"]
df = df.dropna()
df

                  X  -  -  O
0         @USER1812  -  -  O
1                No  -  -  O
2                 ,  -  -  O
3                 I  -  -  O
4                'm  -  -  O
...             ... .. .. ..
19090           the  -  -  O
19091  organization  -  -  O
19092             .  -  -  O
19093        URL224  -  -  O
19094             …  -  -  O

[19095 rows x 4 columns]

In [43]:
with open("ner_predicts","r") as file:
    preds = file.read().split("\n")
preds[:5]

['O\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO',
 'O\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO',
 'O\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tO\tB-MISC\tE-MISC\tO\tO',
 'O\tO\tO\tO\tO',
 'O\tO\tO\tO\tO\tS-PER\tO\tO\tO\tO\tO\tO\tO\tO']

In [44]:
pred = []
for p_line in [p.split("\t") for p in preds]:
    for p in p_line:
        pred.append(p)

In [45]:
len(pred)

19095

In [46]:
len(df)

19095

In [47]:
df["pred"] = pred

In [63]:
df

                  X  O pred
0         @USER1812  O    O
1                No  O    O
2                 ,  O    O
3                 I  O    O
4                'm  O    O
...             ... ..  ...
19090           the  O    O
19091  organization  O    O
19092             .  O    O
19093        URL224  O    O
19094             …  O    O

[19095 rows x 3 columns]

In [61]:
df = df.drop("-", axis=1)

In [49]:
df.to_csv("../../ner.tweenut17.pred.csv",index=False)

In [57]:
df.O = df.O.apply(lambda x: x.split("-")[1] if x!= "O" else "O")
df.pred = df.pred.apply(lambda x: x.split("-")[1] if x!= "O" else "O")

In [64]:
df_diff = df[df.O!=df.pred]

In [87]:
df_diff = df.groupby(["O","pred"]).agg("count")

In [90]:
for name, sub in df.groupby(["O","pred"]):
    pd.DataFrame(sub).to_csv(f"../../error_analysis/{name}.csv",index=True)

In [69]:
df_diff.columns=["Count"]
df_diff

           Count
O    pred
LOC  LOC     112
     MISC      1
     O        26
     ORG      15
     PER       6
MISC LOC       8
     MISC     96
     O       212
     ORG      40
     PER      19
O    LOC      25
     MISC     34
     O     17791
     ORG      42
     PER      20
ORG  LOC      14
     MISC      4
     O        73
     ORG     132
     PER      12
PER  LOC       5
     MISC     10
     O        49
     ORG      14
     PER     335

In [76]:
 df["diff"] = 0
 df["diff"][df.O!=df.pred]=1
 df

<ipython-input-76-2ecb9cb8779f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["diff"] = 0
<ipython-input-76-2ecb9cb8779f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["diff"][df.O!=df.pred]=1
/mnt/hdd/ningh/.local/lib/python3.8/site-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

                  X  O pred  diff
0         @USER1812  O    O     0
1                No  O    O     0
2                 ,  O    O     0
3                 I  O    O     0
4                'm  O    O     0
...             ... ..  ...   ...
19090           the  O    O     0
19091  organization  O    O     0
19092             .  O    O     0
19093        URL224  O    O     0
19094             …  O    O     0

[19095 rows x 4 columns]

In [80]:
len(df[df["diff"]==1])

629

In [81]:
df.to_csv("../../ner_error_analysis.csv",index=False)